name: Build and Push

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - run: go version
      - run: go test ./...
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest
            type=sha,format=long
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  deploy-k8s:
    needs:
      - build-and-push-image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: azure/setup-kubectl@v4
        with:
          version: 'v1.28.12'
        name: install kubectl
      - name: setup kubectl config
        run: |
          mkdir ${HOME}/.kube
          echo "${{secrets.KUBE_CONFIG}}" >> ${HOME}/.kube/config
        shell: bash
      - name: confirm kubectl config
        run: |
          kubectl version
      - name: lower case repo name
        run: |
          echo "repo_lc=${repo,,}" >>${GITHUB_ENV}
        env:
          repo: '${{ github.repository }}'
      - name: apply resources folder
        working-directory: "deployments"
        run: |
          kustomize edit set image app-image=ghcr.io/${repo_lc}:sha-${{ github.sha }}
          kubectl kustomize | kubectl apply -f -
      - name: await deployment rollout
        working-directory: "deployments"
        run: |
          kubectl rollout status -n scarcity deployments
